package ${package}.service.impl;

import cn.hutool.core.util.StrUtil;
import ${package}.model.${classEntity};
import ${package}.service.${ClassName}Service;
import ${package}.repository.${ClassName}Repository;
import com.jjh.common.exception.BusinessException;
import com.jjh.common.util.IdGenerateHelper;
import com.jjh.common.util.PojoUtils;
import com.jjh.common.web.form.PageRequestForm;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import javax.annotation.Resource;
import java.util.List;
import java.util.Objects;

/**
 * ${tableComment} 服务层实现
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl implements ${ClassName}Service {

    @Resource
    private ${ClassName}Repository ${className}Repository;


    /**
     * 查询${tableComment}列表
     *
     * @param form 查询条件
     * @return ${tableComment}集合
     */
    @Override
    public List<${classEntity}> list(PageRequestForm<${classEntity}> form) {
        return ${className}Repository.list(form);
    }

    /**
     * 新增${tableComment}对象
     *
     * @param entity 待新增对象
     * @return ${tableComment}对象
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public ${classEntity} add(${classEntity} entity) {
        entity.setId(IdGenerateHelper.nextId());
        return ${className}Repository.save(entity);
    }

    /**
     * 更新${tableComment}对象
     *
     * @param entity 待更新对象
     * @return ${tableComment}对象
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public ${classEntity} update(${classEntity} entity) {
        ${classEntity} oldEntity = ${className}Repository.findById(entity.getId()).orElseThrow(() -> new BusinessException("未找到该对象，请检查"));
        //对象属性复制
        PojoUtils.copyPropertiesIgnoreNull(entity, oldEntity);
        return ${className}Repository.save(oldEntity);
    }

    /**
     * 删除${tableComment}对象
     *
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean del(String ids) {
        ${className}Repository.deleteMany(ids.split(","));
        return true;
    }

}
